/* importation des couleurs (à ne pas toucher) : */

@import url('../resources/couleurs.css');

/* couleurs à choix :
    --dark-blue
    --light-blue
    --pink
    --orange
    --yellow
    --white
*/


/* votre code : */

body {
    background: var(--white);
    margin: 0;
    width: 100vw;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
}

section {}

.main_car {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
    flex-direction: column;
}

.games_names {
    height: 30vh;
    display: flex;
    flex-direction: row;
}

.games_names h2 {
    font-family: var(--typo);
    font-weight: 100;
    font-size: 3em;
    margin: 30px 0;
    width: 100vw;
    text-align: center;
}

.carre {
    background: var(--yellow);
    width: 300px;
    height: 300px;
}


/*
.carre:hover {
    background: var(--dark-blue);
    transform: scale(1.2);
}

.row {
    display: flex;
    flex-direction: row;
}*/